:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --gray-dark-color: #909090;
  --gray-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* Video Player */
.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 50%;
  height: 50%;
  max-width: 1000px;
}

/* Video Info */
body > .info {
  paddin: var(--padding);
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margit-right: var(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .views {
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.info .actions {
  display: flex;
  justify-content: space-between;
  margin: var(--padding);
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.info .actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.info .actions button i.active {
  color: var(--blue-color);
}

/* CHannel Description */
.channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--gray-light-color);
  border-bottom: 1px solid var(--gray-light-color);
}

.channel .metadata {
  display: flex;
  align-items: center;
}

.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.channel .metadata .info .name {
  font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.channel .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* Up Next */
.UpNext {
  padding: 0 var(--padding);
}

.UpNext .title {
  font-size: var(--font-medium);
  color: var(--gray-dark-color);
  margin-bottom: calc(var(--padding) / 2);
}

.UpNext .item {
  display: flex;
  margin-top: var(--padding);
}

.UpNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.UpNext .item .img img {
  width: 100%;
}

.UpNext .item .info {
  flex: 1 1 60%;
}

.UpNext .item .moreBtn {
  flex: 1 1 5%;
}

.UpNext .item .info {
  display: flex;
  flex-direction: column;
}

.UpNext .item .info .title {
  font-size: var(--font-small);
}

.UpNext .item .info .name,
.UpNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--gray-dark-color);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding) 0;
  }
}
