:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --gray-dark-color: #909090;
  --gray-light-color: #e0e0e0;
  --gray-morelight-color: #f5f5f5;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
  align-items: center;
}

/* Header */
header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: var(--padding) 24px;
  margin-bottom: var(--padding);
  background-color: var(--gray-morelight-color);
  color: var(--black-color);
}

header .logo {
  font-size: 18px;
}

header .logo i {
  color: var(--red-color);
}

header .icons {
  display: flex;
  align-items: center;
}

header .icons .fa-search,
.fa-bell {
  margin-right: var(--padding);
  font-size: 20px;
}

header .icons img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

header .icons .imgdiv {
  width: 24px;
  height: 24px;
}

/* Video Player */
.player {
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* Video Info */
body > .info {
  paddin: var(--padding);
}

.info .metadata {
  margin: 12px;
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margit-right: var(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .views {
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.info .actions {
  display: flex;
  justify-content: space-between;
  margin: var(--padding);
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.info .actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.info .actions button i.active {
  color: var(--blue-color);
}

/* CHannel Description */
.channel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--gray-light-color);
  border-bottom: 1px solid var(--gray-light-color);
  padding: 4px var(--padding);
}

.channel .metadata {
  display: flex;
  align-items: center;
  margin: 0px;
}

.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.channel .metadata .info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.channel .metadata .info .name {
  font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--gray-dark-color);
}

.channel .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* Comment */
.commentBox {
  border-bottom: 1px solid var(--gray-light-color);
  padding: 4px var(--padding);
}

.commentImgBoxAndcommentArea {
  display: flex;
}

.commentBox .commentBoxBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.commentBox .commentBoxBar .commentCountBox .commentText {
  font-weight: bold;
  font-size: 13px;
}

.commentBox .commentBoxBar .commentCountBox .commentCount {
  font-size: 13px;
}

.commentIdAndWriteTime {
  font-size: var(--font-micro);
}

.commentBox .commentBoxTop {
  display: flex;
}

.commentBox .commentImgBox img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.commentBox .commentBoxTop .comment {
  font-size: var(--font-small);
}

.commentBox .commentImgBoxAndcommentArea {
  margin-bottom: 16px;
}

.commentBox .commentImgBoxAndcommentArea .commentArea .commentBoxBottom i {
  color: var(--gray-dark-color);
  padding: 8px;
  font-size: var(--font-small);
}

.commentBox
  .commentImgBoxAndcommentArea
  .commentArea
  .commentBoxBottom
  .cocoment {
  color: var(--gray-dark-color);
  padding: 8px 16px;
  font-size: var(--font-small);
}

.commentBox
  .commentImgBoxAndcommentArea
  .commentArea
  .commentBoxBottom
  .commentLike {
  color: var(--gray-dark-color);
  font-size: var(--font-small);
  margin-right: 4px;
}

/* Up Next */
.UpNext {
  padding: 0 var(--padding);
}

.UpNext .title {
  font-size: var(--font-medium);
  color: var(--gray-dark-color);
  margin-bottom: calc(var(--padding) / 2);
}

.UpNext .item {
  display: flex;
  margin-top: var(--padding);
}

.UpNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.UpNext .item .img img {
  width: 100%;
}

.UpNext .item .info {
  flex: 1 1 60%;
}

.UpNext .item .moreBtn {
  height: 100%;
  flex: 1 1 5%;
}

.UpNext .item .info {
  display: flex;
  flex-direction: column;
}

.UpNext .item .info .title {
  font-size: var(--font-small);
}

.UpNext .item .info .name,
.UpNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--gray-dark-color);
}

.videoAndInfoAndUpnext {
  display: flex;
  flex-direction: row;
  margin: 0px 80px;
}

.videoAndInfo {
  width: 65%;
}

.UpNext {
  width: 35%;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--gray-morelight-color);
    color: var(--black-color);
  }

  .videoAndInfoAndUpnext {
    display: flex;
    flex-direction: column;
  }

  .videoAndInfoAndUpnext .videoAndInfoAndUpnext .player {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);
  }

  .videoAndInfo {
    width: 100%;
  }

  .UpNext {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .videoAndInfoAndUpnext {
    margin: 0px 10px;
  }
}
